<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
		
		<title>Wish List</title>

	    <!-- Bootstrap core CSS -->
	    <link href="static/css/bootstrap.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="jumbotron-narrow.css" rel="stylesheet">
		<link href="static/css/customstuff.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		
	</head>

	<body background="/static/images/greyzz.png">

	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right nav-fixed-top">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="http://lindseycrocker.com">My Website</a></li>
			</ul>
			<h3 class="text-muted">Wish List</h3>
		</div>
	</div>
		<br>
		<div class="jumbotron">
			<div class="container">
				<h1 align="center">Need to create a Wish List?</h1>
				<br>	
				<div class="row marketing">
					<div class="col-lg-6" style="text-align:center">
						<p>Are the holidays coming up?  Have a bunch of people asking you want you want?  Just create a list and send it to your friends!</p>
						<p>Now create your wish list to send to your friends!</p>
						<a class="btn btn-lg btn-success" href="/create" role="button">Create Wish List</a>
					</div>
					<div class="col-lg-6" style="text-align:center">
						<p>Need to view a wish list? Enter the code below!</p>
						<p>Make sure to check off any items you have bought so other people will know.</p>
						<form method="POST" action="/view">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-success" type="button">View Wish List</button>
								</span>
								<input type="text" class="form-control" name="ranid">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	</body>
</html>
